@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/*BUTTON STYLES*/

button {
  border: 0;
  padding:0.7rem;
  border-radius: 0.2rem;
  background-color: #725090;
  color: #fff;
}

/*HEADER*/

header {
  padding: 10px;
  position:fixed;
  width: 100%;
  top:0;
  background-color: rgba(104,71,130,0.9);
}

.btn-yellow{
  background-color: #ffd900;
  color: #000;
}

h1, .sub{
  margin:0 0 2rem 0;
  padding:0;
}

@media only screen and (min-width:40em){
  h1 {
    font-size: 3rem;

  }

  .landing .sub {

    font-weight: 300;
    font-size: 2rem;
  }

  header {
    padding: 15px;
  }
}

/*NAV*/

/*LOGO*/

.logo {
  width: 50px;
}

/*remove margin/padding*/
ul, li {
  margin:0;
  padding:0;
}

nav a, li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.nav-right li {
  float:right;
}

.nav-left a {
  color: #fff;
  padding: 0 0.5rem 0 0;
  font-size:0.9rem;
  font-weight: 300;

}

@media only screen and (min-width:40em){

  .nav-left a {
    font-size: 1rem;
    padding-right: 2rem;
  }

  .logo {
    width: 100px;
  }

}

/* SECTIONS */

h2 {
  font-weight: 600;
}

.sub {
  font-weight: 300;
  margin:0 0 4rem 0;
  padding:0;
}

@media only screen and (min-width:40em){

  h2 {
    font-size: 2rem;
  }

  .sub {
    font-size: 1.5rem;
  }
}

section {
  margin: 1.5rem 0 1.5rem 0;
}

/* SECTION: LANDING */

.landing {
  background-image: url('../img/landing-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;

  padding: 12rem 0 5rem 0;
  margin-top: -5rem;

}

@media only screen and (min-width:40em){
  .landing {
    height: 700px;
    padding: 20rem 0 5rem 0;
  }
}


h1 {
  margin:0;
  padding:0;
}

/* SECTION: INSTAGRAM */

.instagram {
  text-align: center;
}

.instansive-widget {
  border:0;
  width:80%;
  margin:0 auto;
  height: 300px;
}

@media only screen and (min-width:25em){
  .instansive-widget {
    height: 350px;
  }

}

@media only screen and (min-width:35em){
  .instansive-widget {
    height: 500px;
  }

}

@media only screen and (min-width:45em){
  .instansive-widget {
    height: 700px;
  }

}


@media only screen and (min-width:55em){
  .instansive-widget {
    height: 800px;
  }

}

@media only screen and (min-width:65em){
  .instansive-widget {
    width: 70%;
  }
}

@media only screen and (min-width:75em){
  .instansive-widget {
    height: 1000px;
  }
}

/* SECTION: ABOUT*/

h3 {
  margin:0;
  padding:0;
}

@media only screen and (min-width:25em){
  .about-wrapper {
    width: 90%;
    margin:0 auto;
  }
}

@media only screen and (min-width:35em){
  .about-wrapper {
    width: 400px;
    display:block;
    margin:0 auto;
    padding: 1rem;
  }
}

@media only screen and (min-width:45em){
  .about-wrapper {
    width: 600px;
    display:block;
    margin:0 auto;
    padding: 3rem;
  }
}


.about-image {
  border-radius: 100px;
}

.about{
  background-image: url(../img/about-bg.jpg);
  background-size: cover;
  color: #fff;
  padding: 1rem;
}

/*SECTION: CTA FOOTER */

.cta-footer {
  text-align: center;
}










